{% extends 'commons/base.html' %}
{% load static %}

{% block script %}
{{ block.super }}
{% load board2_extra %}
{% endblock script %}

{% block style %}
{{ block.super }}
{% endblock style %}

{% block title %}잘못된 경로입니다.{% endblock %}

{% block dropdown %}w3-dropdown-content w3-bar-block w3-border{% endblock %}

{% block content %}
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
  	<meta charset="UTF-8">	
    <h5><b>
    	<i class="fa fa-exclamation-circle" aria-hidden="true"></i>  작업완료
  </header>
 <div class="w3-panel" style="width:60%">
    <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
		<div class="w3-container w3-border w3-card w3-padding-large w3-padding-16">
		  <ul>
		      <li class="w3-margin-bottom">요청한 작업을 정상적으로 완료하였습니다.</li><br>
		      <a class="w3-button w3-blue" href="{{ next }}">작성한 글 보기</a>
		      
		  </ul>
		</div>
    </div>
  </div>
  {% endblock content %}